body{
     background-color: rgb(0, 0, 0);
     text-align: center;
}
.cartao{
    width: 40%;
    background-color: rgb(0, 66, 248);
    margin: auto;
}
img{
    width: 200px;
}
p, h1, H2{
    color: rgb(12, 230, 41);
}